@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited,
a {
  text-decoration: none;
  color: inherit;
}

body {
  zoom: normal !important;
  font-family: "Poppins", sans-serif;
  background-color: #16181d;
  color: #fafafa;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-ai-c {
  align-items: center;
}
.flex-jc-c {
  justify-content: center;
}
.flex-d-c {
  flex-direction: column;
}

.container {
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
  height: auto;
  padding: 20px;
}

header {
  width: 100%;
  height: auto;
  background-color: #0d1117;
  padding: 25px 20px;
  border-radius: 0.25rem;
}

.updated {
  position: relative;
  background-color: #1f2937;
  color: #6ee7b7;
  padding: 1.55rem;
  font-size: 1.185rem;
  font-weight: bold;
  letter-spacing: 0.065rem;
  /* letter-spacing: 0.035rem; */
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 0.25rem;
}

.about-me {
  text-align: center;
  width: 250px;
  height: 250px;
  padding: 20px;
  border-radius: 0.25rem;
  position: absolute;
  z-index: 999;
  color: #bbb;
  left: 115px;
  border-left: 2px dashed #382b0091;
  border-top: 2px dashed #382b0059;
  border-right: 2px dashed #0d1117;
  border-bottom: 2px dashed #0d1117;
  font-weight: 500;
  font-size: 1.04rem;
  line-height: 1.45rem;
  letter-spacing: 0.05rem;
  cursor: default;
}

.about-me span {
  color: #975c03;
  cursor: pointer;
}

.about-me:hover {
  transition: ease-in-out 200ms;
  border-right: 2px dashed #382b00;
  border-bottom: 2px dashed #382b00;
  transform: scale(1.30);
}

.about-me-vs {
  visibility: visible;
}

.flag {
  z-index: 999;
  position: absolute;
  width: 120px;
  height: 1px;
  border: 1px dashed #382b00ab;
  left: 395px;
}

.flag:hover {
  border: 1px dashed #463601;
}

.profile-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("./images/profile-photo-2.JPG");
  background-size: cover;
  border: 4px solid #222;
  margin-top: 10px;
}

header img {
  position: absolute;
  top: 132px;
  border-radius: 10px;
}

header h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}
header p {
  color: #777;
  font-size: 1.2rem;
  letter-spacing: 0.035rem;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 500;
  width: 400px;
}

main {
  flex: 1;
}

main {
  margin-top: 12px;
  width: 100%;
  background-color: #0d1117;
  border-radius: 0.25rem;
  padding: 20px;
}

.footer {
  background-color: #0d1117;
  width: 100%;
  height: inherit;
  padding: 20px;
}

footer {
  margin: 0px 20px 20px 20px;
}

h4 {
  letter-spacing: 0.1rem;
  color: #777;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.04rem;
}

.show-date {
  font-size: 1.33rem;
}

ul,
li {
  list-style: none;
}

.social-media-links {
  width: 900px;
}

li a {
  width: 100%;
  color: #ccc;
  border-left: 2px dashed #382b0091;
  border-top: 2px dashed #382b0059;
  padding: 1rem;
  border-radius: 0.25rem;
}

li:not(:last-child) {
  margin-bottom: 1.1rem;
}

li a:hover {
  transition: ease-in-out 200ms;
  transform: scale(1.01);
  border-left: 2px dashed #382b00;
  border-top: 2px dashed #382b00;
  /* border: 2px dashed #382b00; */
  background-color: #382b00;
}

.fab,
.fa-graduation-cap {
  margin-right: 12px;
  font-size: 1.8rem;
}

.social-text {
  font-size: 1.2rem;
  letter-spacing: 0.035rem;
}

ul span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /* background-color: rgba(55, 255, 48, 0.199); */
  background-color: #382b0059;
}

.stacks {
  text-align: center;
  margin-bottom: 20px;
}

.fa-brands, .icon-style {
  font-size: 2.8rem;
  padding: 10px;
  color: #eee;
}

.fa-brands:hover,
.icon-style:hover {
  transition: ease-in-out 150ms;
  color: #975c03;
  transform: scale(1.70);
  cursor: grab;
}

.fa-brands:not(:last-child),
.icon-style:not(:last-child) {
  margin-right: 20px;
}

.fa-active {
  transform: scale(1.29);
  color: #fafafa;
}

.section-title {
  margin-top: 50px;
  margin-bottom: 25px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.15rem;
  color: #f2f2f2;
  /* color: #999; */
  padding-bottom: 10px;
  border-bottom: 3px solid #3333335d;
}

.video-container {
  width: 795px;
}

.video-title {
  font-size: 1.33rem;
  letter-spacing: 0.1rem;
  margin-bottom: 25px;
  color: #777;
  text-align: center;
}

.youtube-video {
  justify-self: center;
  width: 100%;
  height: 450px;
  margin-bottom: 80px;
  border-radius: 0.25rem !important;
  border: 3px solid;
  border-image: linear-gradient(to right, #fbfcfd27, #fbfcfd2a);
  border-image-slice: 1;
}

.fixed-bottom-right {
  position: fixed;
  width: 140px;
  height: 50px;
  background: linear-gradient(to bottom right, #6ee7b7, #16181d);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  bottom: 60px;
  right: 80px;
  font-size: 1.12rem;
  padding: 0 10px;
  cursor: pointer;
}

.feature-modal {
  position: fixed;
  width: 400px;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.7);
  top: 400px;
  right: 50px;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #16181d;
  transition: ease-in-out 200ms;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  height: 100px;
  text-align: center;
  letter-spacing: 0.034rem;
  color: #777;
}


@media screen and (max-width: 1300px) {
  .about-me,
  .flag {
    display: none;
  }

  .fixed-bottom-right,
  .feature-modal {
    display: none;
  }
}

@media screen and (max-width: 960px) {

  header p {
    width: 300px;
  }

  .social-media-links {
    width: 100%;
    padding: 0 20px;
  }

  li a:hover {
    background-color: #16181d;
  }

  .fa-brands:hover {
    color: #eee;
    transform: scale(1);
  }
}

/* Testing Variables */

.bg-gray {
  background-color: #535554;
}